# deps
node_modules/

# next
.next/
out/
next-env.d.ts

# typescript incremental build info
*.tsbuildinfo

# env
.env
.env.local
.env*.local

# local embedded postgres (PGlite data dir)
.pglite/

# misc
*.log
.DS_Store
coverage/
